.movie {
  margin: 1rem;
  padding: 1rem;
  background-color: tan;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  text-align: center;
  color: white;
}

.movie h2 {
  font-size: 2rem;
  color: #b62323;
}

.movie h3 {
  color: red;
  margin: 0;
  font-size: 1rem;
}

li:hover {
  background-color: #d6a769;
}

.movies-list {
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}